---
layout: home
title: Home
---
<!-- <p>These are some pictures I took when I travelled. Please enjoy.</p> -->
<!-- {% include carousel.html duration="17" %}
  <br>
  <hr> -->
<div class="row">
  <!-- main content area -->
  <div id="content-container" class=" container">
    <h2>Hello there! Welcome to my page!</h2>
    <p>My name is Khanh N. Dang - a computer scientist living in Japan at the moment. My main research topics are neuromorphic computing, 3D Integrated Circuits and fault-tolerant systems (see <a href="https://u-aizu.ac.jp/~khanh/research.html"> research page</a>).</p>
    <!-- {% include carousel.html duration="17" %} -->

    <hr>
    <h2>What's New </h2>
    {% capture my_include %}{% include_relative news.md %}{% endcapture %}
    {{ my_include | markdownify }}
  </div>
</div>