---
layout: home
title: Home
---
  <!-- <p>These are some pictures I took when I travelled. Please enjoy.</p> -->
  <!-- {% include carousel.html duration="17" %}
  <br>
  <hr> -->
<div class="row">

  <div class="col-lg-7">
    
    <div id="content">
      {% capture my_include %}{% include_relative  welcome.md %}{% endcapture %}
      {{ my_include | markdownify }}

 
    </div>
  </div>
  <div class="col-lg-5 news-block d-lg-block text-wrap break-word">
    <!-- include news  -->
    {% capture my_include %}{% include_relative  news.md %}{% endcapture %}
    {{ my_include | markdownify }}
  </div>
  
</div>