body {
	background-color: #FFFFCC;
	color: #111111;
	font-family: Charter, Verdana;
	max-width: 800px;
}
a {
	color: #00628B;
	text-decoration: none;
}
a:hover {
	color: #33CC33;
	text-decoration: none;
}
h1 {
	margin-bottom: 2px;
}
h2, h3, h4 {
	margin-top: 3px;
	margin-bottom: 1px;
}
ul {
	margin-top: -2px;
}
img {
	max-width: 100%;
	height: auto;
}
