---
layout: default
---
<article>
  <header class="page-title">
    <h1>{{ page.title | escape }}</h1>
    <hr>
  </header>
  <div class="row">
    <!-- main content area -->
    <div class="col-lg-9">

      <div id="content" data-spy="scroll" data-target="#toc" data-offset="0">
        {{ content }}
      </div>
    </div>
    <!-- sidebar, which will move to the top on a small screen -->
    <div class="col-lg-3 d-none d-lg-block">
      <nav id="toc" data-toggle="toc" class="sticky-top navbar nav-pills flex-column">
        <div class="navbar-brand"> Table of contents</div>
        {% include toc.html html=content class="nav-pills flex-column" %}

        <div class="navbar-brand"> New book release! </div>
        <p>
          <img src="/assets/book-cover_neuromorphic-ed1.jpg" width="100%" alt="The book 1">
          <br>

          Order on &#187; <a
            href="https://www.amazon.com/dp/3030925242/ref=cm_sw_em_r_mt_dp_FDNTBNH4591SBQ769MZH">Amazon</a>!
        </p>

      </nav>
    </div>

  </div>

</article>