---
layout: default
---
<article>
  <header class="pt-3 pb-0 page-title">
        <h1>{{ page.title | escape }}</h1>
	<hr>
   </header>		
  <div class="row">
    <!-- main content area -->
    <div class="col-lg-9">
      
      <div id="content"data-spy="scroll" data-target="#toc" data-offset="0">
        {{ content }}
      </div>
    </div>
    <!-- sidebar, which will move to the top on a small screen -->
    <div class="col-lg-3 d-none d-lg-block">
      <nav id="toc" data-toggle="toc" class="sticky-top navbar nav-pills flex-column">
        <div class="navbar-brand"> Table of contents</div>
      {% include toc.html html=content class="nav-pills flex-column" %}
      </nav>
    </div>
    
  </div>
  
</article>
